* {
    box-sizing: border-box;    
     outline: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

html {
    font-size: 16px;
}

@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin:0;
    padding:0;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
    font-family: 'raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #444;
}
.wrap{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}
.intro p{
    width: 50%;
    margin: 0 auto;
}
.section{
    text-align:center;
}
#menu li {
    display:inline-block;
    margin: 0;
    color: #000;
    padding: 9px 18px;
    -webkit-border-radius: 10px; 
            border-radius: 10px; 
}
#menu li a{
    text-decoration:none;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.6);
}

#menu li a,
#menu li.active a{    
    display:block;
}
#menu li.active a{
    color: black;
    border-bottom: 1px solid #444;
}
#menu{
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
}



/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
    position:fixed;
    bottom: 10px;
    right:10px;
    z-index: 999;
 }



/* Layouts */

#menu {
    background: rgba(255,255,255,0.7);
}

img {
    border: none;
    padding: 0;
    margin: 0;
}

hr {
    width: 35%;
    border-bottom: 1px solid #444;
}

.row {
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    clear: both;
    max-width: 1300px;
}

.row-footer {
    color: white;
    background: #444;
    font-size: 0.9rem;
}

.column {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 0 40px;
    overflow: hidden;
}

.sub-content-column {
    text-align: left;
    vertical-align: top;
}

#slide-container {
    /*width: 400px;*/
    height: 500px;
    text-align: center;
}

.bjqs img {
    height: 480px;
}

.sub-row {
    margin-top: 1.4rem;
}

.col-75 {
    width: 75%;
}

.col-50 {
    width: 50%;
}

.col-33 {
    width: 33.33333%;
}

.col-25 {
    width: 25%;
}

.column-list-item {
    text-align: left;
    margin: 2.4rem 1.5rem 2.4rem 0;
}

.column-list-item > * {
    vertical-align: middle;
}

.column-list-item-link {
    color: inherit;
}

.column-list-item-link > * {
    vertical-align: middle;
}

/* Text */
.title {
    font-size: 5.0rem;
    font-family: 'raleway';
    display: block;
    margin: 0;
}

.subtitle {
    font-size: 2.5rem;
    font-family: 'raleway';
    margin: 0.5rem 0;
}

.description {
    font-size: 1.5rem;
    line-height: 1.3;
}

.column-title {
    margin: 0 0 1.3rem;
}

.column-subtitle {
    margin: 0 0 1.5rem;
}

.button {
    color: #444;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 0.6rem;
    font-size: 1.4rem;
    cursor: pointer;
    display: inline-block;
}

.button-colored {
    color: white;
    display: inline-block;
}

.action-button {    
    box-shadow: 0px 1px 6px -2px #999;    
}

.more-button {
    background: #F0DB4F;
    background-image: linear-gradient(to bottom, #F0DB4F 66%, #DBCA52 100%);
    margin: 2.5rem 0 1.0rem;
}

.feature-img {
    max-height: 100%;
}

.list-container {
    text-align: center;
}

.list {
    text-align: left;
    display: inline-block;
}

.list-img {
     height: 6px;
     margin-right: 11px;
}

#app-icon {
    max-height: 175px;
    width: auto;
}


#community-section .fp-tableCell {
    position: relative;
}

.column-image {
    width: 100%;
}

.slider-image {
    height: 100%;
}

#twitter-div {
    background-image: url('../assets/icons/twitterload.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 450px;
    border-radius: 5px;
    max-width: 520px;
    margin: auto;
}

.share-item {
    margin: 4.3rem 0;
}

.share-img {
    height: 40px;
    margin-right: 12px;
}

/* App-specific stylings   */

#home-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#home-section * {
    color: white;
}


.title-button {
    color: white;
    border: 2px solid white;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    padding: 6px 11px;
    margin: 0.6rem;
}

.title-button:hover {
    background: rgba(0,0,0,0.2);
}

.title-button img {
    height: 25px;
    margin-right: 1px;
    vertical-align: middle;
}

.title-button span {
    vertical-align: middle;
}

#twitter-button {
    background: #5EAADE;
    background-image: linear-gradient(to bottom, #5EAADF 52%, #4C97CA 100%);
}

#facebook-button {
    background: #45619D;
    background-image: linear-gradient(to bottom, #45619D 52%, #214083 100%);
}

#google-plus-button {
    background: #DD4B39;
    background-image: linear-gradient(to bottom, #DD4B39 52%, #AC2D1D 100%);
}




/* SHIM STYLINGS */

/* for sizing purposes, this should never be overridden, hence not being a .column */
.shim-column {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 0 40px;
    overflow: hidden;
    width: 50%;
    max-height: 100%;
}

 #app-image-container {
    position: relative;    
    width: 100%;    
    height: auto;
    max-height: 100%;
    display: inline-block;
 }

 #shim-container {
    position: relative;
    width: 100%;
    height: 100%;
 }


 @-webkit-keyframes imageIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 @keyframes imageIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 #shim {
    position: absolute;
    z-index: 200;    
    -webkit-animation: imageIn 2s;
    animation: imageIn 2s;
 }


 #app-image-container.ipad-portrait {
    max-height: 1080px;
 }

 #app-image-container.ipad-landscape {
    max-height: 800px;
 }

 #app-image-container.iphone-portrait {
    max-height: 576px;
    max-width: 274px;
 }

 #app-image-container.iphone-landscape {
    max-height: 274px;
    max-width: 576px;
 }

#shim.ipad-portrait {
    top: 8.8%;
    left: 10.4%;
    width: 79.4%;
    max-height: 82%;
}

#shim.ipad-landscape {
    top: 10.2%;
    left: 8.7%;
    width: 82.6%;
    max-height: 79%;
}

#shim.iphone-portrait {
    top: 12.2%;
    left: 5%;
    width: 89.7%;
}

#shim.iphone-landscape {
    top: 5%;
    left: 12.2%;
    width: 75.4%;
    max-height: 88.3%;
}


/* FullPage.js overrides */

/*.fp-slides {
    height: 400px;
    margin: auto;
    width: 300px;
}*/

.fp-controlArrow.fp-prev {
    border-color: transparent #444 transparent transparent;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #444;
}

#fp-nav.right {
    right: 1px;
}



/* TEMP STYLINGS -- REMOVE WHEN DONE */
.placeholder {
    height: 350px;
}



@media screen and (max-width: 1300px) {
    html {
        font-size: 12px;
    }

    #menu li {
        margin: 0.2rem 0;
    }
}

@media screen and (max-width: 800px) {

    #menu {
        text-align: center;
        background-color: #EFEFEF;
    }

    #menu li a {        
        font-size: 1.3rem;

    }    

    .column {
        padding: 0px 10px;
        text-align: center !important; 
    }

    .col-50, .col-75 {
        width: 92%;
    }

    .shim-column {
        width: 55%;
    }

    .column-list-item {
        display: inline-block;
    }

    .column-image {
        max-width: 80%;
        max-height: 500px;
        width: auto;
    }

    .list {
        margin: auto;
        text-align: center;
    }

    .share-item {
        margin-right: 2.5rem;
    }
}

@media screen and (max-width: 600px) {
    .shim-column {
        width: 100%;
    }

    .title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.9rem;
    }

    #menu li {
        padding: 9px 6px;
    }

    .column-list-item {
        margin: 5px;
    }
}


@media screen and (max-height: 800px) and (min-width: 1030px) {
     .shim-column {
        width: 37%;
     }
}   

@media screen and (max-height: 450px) {

}